PORT=''

SUPER_USER_USERNAME='root'
SUPER_USER_PASSWORD='root'
SUPER_USER_MAIL='root@gmail,com'

JWT_SECRET='thisismy'

DB_USERNAME=''
DB_PASSWORD=''
DB_DATABASE=''
DB_HOST='127.0.0.1'
DB_PORT='3306'
DB_DIALECT='mysql'